{{ define "main" }}
    <article class="fullwidth">
        <h1 data-text="{{ .Title }}" class="glitch">{{ .Title }}</h1>
        <section>
            {{ if not (eq (.Date.Format "January 2 2006") "January 2 2006") }}
            Published: <span>{{ .Date.Format "January 2 2006"  }}</span> {{ end }}

            
            {{ if not (eq (.Date.Format "January 2 2006") (time.Format  "January 2 2006" (cast.ToInt (.Param "lastUpdated")))) }}
            | Last Updated: <span>{{ time.Format  "January 2 2006" (cast.ToInt (.Param "lastUpdated")) }}</span> {{ end }}<!-- (time.AsTime (cast.ToInt )) <span>(time.AsTime (.Param "lastUpdated")).Format "January 1 0001" }}</span> -->

            <br>
            
            {{ if (.Param "projectPage")}}{{ if not (eq (.Param "projectPage") "None") }}
            <a href='{{ .Param "projectPage" }}'>Project Code</a> {{ end }}{{ end }}

            {{ if not (eq (.Param "homepage") "None") }}{{ if isset .Params "homepage" }}
            | <a href='{{ .Param "homepage" }}'>Homepage</a> {{ end }}{{ end }}
        </section>
        <hr><!--
            {{ if gt .WordCount 400 }}
                <br>
                <h2 class="glitch" data-text="Table Of Contents">Table Of Contents</h2>
                {{.TableOfContents}}
                <hr />
            {{ end }} -->
        <p>{{ .Content }}</p>
    </article>
{{ end }}